$white : #ffffff;
$black : #000000;

$primary-color : #579bcb;
$primary-dark-color : darken(#579bcb, 15%);
$primary-darker-color : darken(#579bcb, 25%);
$primary-light-color : lighten(#579bcb, 10%);

// $primary-background : #F5F2EA;
$primary-background : #f5f2ea82;
